@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

section {
    width: 80%;
    /* background: #777; */
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.blog {
    width: 100%;
    min-height: 200px;
    margin-bottom: 60px;
}

.blog h3 {
    text-align: center;
    margin: 80px auto 20px auto;
    font-size: 25px;
}

.blog p {
    margin: 10px auto;
    font-size: 16px;
    line-height: 25px;
}
.blog span {
    float: right;
}